<h1><%= t("operations.edit", resource: t("activerecord.models.book.one")) %></h1>

<%= render 'form', book: @book %>

<%= link_to t("operations.show"), @book %> |
<%= link_to t("operations.back"), books_path %>
