<h1>フォローリスト</h1>

<table>
  <thead>
    <th>ユーザー名</th>
    <th>メールアドレス</th>
    <th><th>
  </thead>

  <tbody>
    <% @followees.each do |followee| %>
      <tr>
        <th><%= followee.name %></th>
        <th><%= followee.email %></th>
        <th><%= link_to "フォローをやめる", follows_path + "/" + @follow_list[followee.id].to_s, method: :delete%><th>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @followees %>