<h1><%= t("activerecord.models.report.my_reports") %></h1>

<%= render partial: "shared/report_list", locals: { show_user: false } %>

<br>

<%= link_to t("operations.new", resource: ""), new_report_path %>
